body{
  background-image: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)),url(./imagenes/fondo\ harry4.jpg);
  background-size: 100% 100%;
}
body.before{
  opacity:2;
}

.portada{
  font-family: 'Harry Potter', sans-serif;
  color:aliceblue;
  font-size: 80px;
  text-align: center;
  padding: 10px;

}
.portada img{
  width: 80px;
}

button {
  background: transparent;
  font-family: 'Harry Potter', sans-serif;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  color: aliceblue;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 25px;
  outline: 0;
}
  .btn {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  .btn span {
    transition: all 0.3s;
  }
  .btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn:hover span {
    letter-spacing: 2px;
  }
  .btn:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }
  .btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color:transparent;
  }
  .btn:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
  }

.nav{
  text-align: center;
  width: 100%;
  height: 200%;
  float: left;
  padding: 20px;

}
.main{
  padding: 5px 5px;
  color: aliceblue;
  background-color: #8e721ca4;
  float: left;
  width: 100%;
  height: 400px;
  overflow: auto;
  border-radius: 10px;

  /*display: flex;*/
}
.boxAside{
    color:rgba(254, 255, 255, 0.874);
    background-color: rgba(46, 40, 12, 0.945);
    padding: 5px 5px;
    font-family: 'Harry Potter', sans-serif;
    width: 100%;
    height: 15%;
    float: left;
    border-radius: 10px;
  }
  select{
    background: #FFF;
    font-family: 'Harry Potter', sans-serif;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 10px;
    width: 100px;
  }
  label{
    margin-left: 50px;
  }
.Home {
  width: 95%;
  max-width: 400px;
  margin: 10px auto;
  position:relative;
  cursor: pointer;
  display:flex;
  align-items:stretch;
  overflow: hidden;
  border-radius: 10px;

}
  .Home::before {
    content: "";
    position: absolute;
    width:calc(100% - 30px);
    height: 4px;
    background: #fff;
    transition:all .3s;
    left: -100%;
    top: 10px;
  }
  .Home::after {
    content: "";
    position: absolute;
    width:calc(100% - 30px);
    height: 4px;
    background: #fff;
    transition:all .3s;
    left: 100%; bottom: 10px;
  }
  .Home:hover:before, .Home:hover:after{
    left: 15px
  }
.harryhome {
  width:100%;
}
.txt{
    text-align: center;
    position: absolute;
    transition: all .3s;
    opacity: 0;
    color: #FFF;
    padding: 10px 20px;
}
.txt:hover {
  transform: scale(1);
  opacity: 1;
}

.footer{
  color: #FFF;
  float: left;
  width: 100%;
  height: 50px;
  padding: 5px 5px;
  text-align: right;
  font-family: cursive;
  font-size: 20px;


}
.contenedordecajas{
  padding: 5px 5px;
  width: 80%;
  height: 20%;
  align-items: center;
  margin:0px auto;
  position: relative;
  z-index: 99;
  opacity:.85;
}
#cajadefiltros{
  display: none;
}

.cajahome {
  text-align: center;
  font-family: cursive;
}
.characterscontenido {
  font-family: cursive;
  list-style-image: url(./imagenes/SOMBRERO1.png);
}

.booksBox {
  position: relative;
  width: 210px;
  height: 310px;
  margin: 20px;
  margin-left: 30px;
  float: left;
  flex-wrap: wrap;
}

.booksBox div {
  position: absolute;
  width:  100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  border-radius: 5px;
  backface-visibility: hidden;
  transition: 2s;
}

.booksBox .bookDesignFront img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

}

.booksBox .bookDesignFront {
  transform: perspective(500px) rotateY(0deg);
}

.booksBox .bookDesignBack {
  background-color: rgb(53, 41, 41);
  transform: perspective(500px) rotateY(180deg);
}

.booksBox:hover .bookDesignFront {
  transform: perspective(500px) rotateY(180deg);
}

.booksBox:hover .bookDesignBack {
  transform: perspective(500px) rotateY(360deg);
}

.booksBox p {
  text-align: justify;
  font-size: 12px;
  padding-left: 7px;
  padding-right: 7px;
}
.menu #btn-menu{
  display: none;

}
.divStatistics p{
  text-align: center;
  font-size: 30px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: rgb(202, 156, 6);

}

@media screen and (max-width: 720px){

  .menu nav{
    position: fixed;
    top:0;
    right: -250px;
    background: rgba(47, 47, 5, 0.788);
    width: 100px;
    height: 100vh;
    padding: 40px;
    z-index: 1;

  }

.menu2 #btn-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.89);
  font-size: 30px;
  border-radius: 50px;
  cursor: pointer;
  float: right;

}
  .nav button {
    flex-direction: column;
    margin-top: 20px;
    margin-left: 0px;
}
#back-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: none;

}
.portada{
  font-size: 60px;

}
.portada img{
  width: 50px;
  height:50px;
}
select{
  background: #FFF;
  font-family: 'Harry Potter', sans-serif;
  border-radius: 5px;
  margin-right: 0px;
  margin-left: 0px;
  width: 50px;
  }
}
